<h1>Here's a list of songs in our database:</h1>
<table>
  <tr>
    <th>
      Songs
    </th>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td>
        <%= link_to song.title, song_path(song) %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Song', new_song_path %>
